<div class="sky-hero-visual">
  <sky-hero overlayOpacity="0.4" backgroundImageUrl="~/assets/hero-sample.jpg">
    <sky-hero-heading heroTextColor="#fff">
      Demo Hero
    </sky-hero-heading>
    <sky-hero-subheading heroTextColor="#fff">
      Hero demo subheading information.
    </sky-hero-subheading>
  </sky-hero>

  <sky-hero overlayOpacity="0" backgroundImageUrl="~/assets/demo-img.png">
    <sky-hero-heading heroTextColor="#000">
      #000 heading color
    </sky-hero-heading>
    <sky-hero-subheading heroTextColor="#3c3c3c">
      #3c3c3c heading color
    </sky-hero-subheading>
  </sky-hero>

  <sky-hero overlayOpacity="0.9" backgroundImageUrl="~/assets/hero-sample.jpg">
    <sky-hero-heading heroTextColor="#fff">
      Dark opacity
    </sky-hero-heading>
    <sky-hero-subheading heroTextColor="#fff">
      Darker opacity
    </sky-hero-subheading>
  </sky-hero>
</div>
